.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
}
$breakpoint-alpha: 480px; 

.rwd-table {
  position: absolute;
  margin: 1em 0;
  /*min-width: 300px; */
  
  tr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
  }
  
  td:first-child {
    padding-top: .5em;
  }

  td:last-child {
    padding-bottom: .5em;
  }

  td:before {
    content: attr(data-th)": "; 
      font-weight: bold;

      width: 6.5em; 
      display: inline-block;
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
  }
  
  @media (min-width: $breakpoint-alpha) {
    th, td {
      display: table-cell;
      padding: .25em .5em;
    }
    
    th:first-child, td:first-child {
        padding-left: 0;
      }

      th:last-child, td:last-child {
        padding-right: 0;
      }
  }
  
  
  
}

/*@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";*/

/*body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}*/

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  /*overflow: hidden;*/
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}

.popupScroll {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}

.scroll-y {
  overflow-y: scroll;
  flex: 1 1 70vh;
}

.header-data {
  flex: 0 1 auto;
}

body {
  overflow-y: hidden;
}
